/* CSS Reset */
*{
	margin: 0;
	padding: 0;
}

/* Navigation Bar */
#navbar {
	position: relative;
}
#navbar {
	display: flex;
	align-items: center;
}
#navbar::before{
	content: "";
	background-color: black;
	position: absolute;
	height:100%;
	width:100%;
	z-index: -1;
	opacity: 0.4;
}

/* Navigation Bar=Logo and Image */
#logo {
	margin: 10px 10px;
}


#logo img{
	height:70px;
	margin:6px 8px;

}


/* Navigation Bar= List styling */
#navbar ul{
	text-align: center;
	display: flex;
	

}



#navbar ul li {
	list-style: none;
	font-size: 1.3rem;

}

#navbar ul li a{
	color: white;
	display: block;
	padding: 3px 22px;
	border-radius: 20px;
	text-decoration: none;

}


#navbar ul li a:hover{
	color: black;
	background-color: white;

}

/* Home section */
#home{
	display:flex;
	flex-direction: column;
	padding: 3px 200px;
	justify-content: center;
	align-items: center;
}